*{
    padding: 0px;
    margin: 0px;
}
body{
    /* padding: 0px 50px 0px 50px; */
    background-color: black;
}
#nav-bar{
    display: flex;
    position: relative;
    width: 80vw;
    height:80px; 
    align-items: center;
    margin: 0 auto;
}
.navbar-brand{
    /* position: absolute; */
    /* margin-left: 20px; */
    font-size: 16px;
    color: white;
}
.nav-links{
    margin:0 auto;
}
.nav-links-container{
    /* font-style: normal; */
    display: flex;
    padding: 10px;
    list-style: none;
}
.nav-links ul li{
    margin: 20px;
}
.nav-links ul li a{
    color: #D8D8D8;
    font-size:1.2rem;
    text-decoration: none;
    transition: transform 0.2s ease-in-out;
}
.nav-links ul li a:hover{
    transform: scale(1.1);
    text-decoration: underline;
}
/* Buttons */
.navbar-items{
    position: absolute;
    display: flex;
    right: 0px;
}
.primary-button{
    width: 140px;
    height: 50px;
    border:none;
    font-size: large;
    background-color: yellow;
    border-radius: 2px;
    transition: transform 0.3s ease-in-out;
}
.primary-button:hover{
    cursor: pointer;
    transform: scale(1.1);
}

/* hero conatiner */
#section-1{
    width: 80vw;
    align-items: center;
    margin: 0 auto;
}

.hero-container{
    margin-top: 50px;
    width: 60%;
}
.hero-text{
    color: white;
    margin-bottom: 20px;
    font-size: 50px;
}
.text-description{
    color: #D8D8D8;
    font-size: 20px
}



/* Brand logos */

.brand-logo-container{
    width:100%;
    position: relative;
}
.brand-logo-container ul{
    list-style-type: none;
    display: flex;
    position: relative;
    /* justify-content: center; */
    align-items: center;
    /* flex-wrap: wrap; */
}
.brand-logo-container ul li img{
    display: flex;
    width: 100px;
    /* margin-left: 20px; */
    padding: 100px 55px 0px 0px;
    right:0px;
    /* text-align: center; */
}
#samsung-logo{
    width: 180px;
    height:30%;
}
#jp-morgan-logo{
    width: 180px;
    height:30%;
}

.img-modal{
    display: flex;
    position: relative;
    /* flex-wrap: wrap; */
    width: 100%;
    margin-top: 50px;
}

.img-container img
{
    width: 470px;
}
.img-box-2{
    position: relative;
    margin-left: 10%;
    margin-bottom: 50px;
    
}
.text-box-link a{
    color: white;
    text-decoration: none;
    font-size: 40px;
}
.text-box-link{
    margin: 20px 0px 10px 0px;
}
.text-box-description{
    color:#D8D8D8;
    margin: 30px 0px 30px 0px;
    /* font-size: 10px; */
}



/* Section 2 */
.section-2{
    width: 100vw;
    height: 75vh;
    background-color:#454545 ;
}

.text-container{
    width: 80%;
    display: flex;
    
    position:absolute;
    margin-top: 20px;
    left: 100px;
}
.text-container-2{
    width: 70%;
    margin-left: 16.33%;
}
.text-container-1{
    width: 80%;
    margin-left: 13px;
  }
.text-title{
    margin-top: 20px;
    color:white;
    font-size: 36px;
}
.text-para{
    color:#D8D8D8;
    font-size: 18px;
    margin: 30px 0px 30px 0px;
    white-space: wrap;
}
.section-3{
    height: 50vh;
}
.section-3 >div{
    width: 55%;
}
footer{
    height: 15vh;
    width: 100vw;
    background-color:#454545;
}
.footer{
    display: flex;
    /* margin: 10px; */
}
.navbar-brand-footer{
    /* width:300px; */
    padding-top : 25px;
    padding-left: 110px;
    /* margin: 0 auto; */
}
.navbar-brand-footer h2{
    color:white;
    
}
.social-icons{
  /* position: relative; */
  position: absolute;
    right: 120px;
    padding-top: 25px;
  
}
.social-icon-btn{
    display: flex;
    list-style-type: none;
}
.social-icon-btn li img{
    padding: 4px;
}
.social-icon-btn li img:hover{
    cursor: pointer;
}